yarn-error.log
npm-debug.log
package-lock.json
yarn.lock

.vscode
.github
.editorconfig
coverage/
.swcrc
.prettierrc
tsconfig.json
tsconfig.build.json
vitest.config.*
src/
tests/
.DS_Store
.templarize
.eslintignore
.eslintrc.json 
.gitattributes
.husky/
scripts/*
